---
// src/pages/post/[id].astro
import '../../styles/global.css';

export function getStaticPaths() {
  return [
    {params: {id: '1'}},
    {params: {id: '2'}},
  ];
}

const posts = {
  '1': {
    title: "My Birthday",
    date: "August 28, 2024",
    content: "This is the content of your first blog post. It can be as long as you want. This is the second line of the post.",
  },
  '2': {
    title: "Second Blog Post",
    date: "August 27, 2024",
    content: "This is the content of your second blog post. You can add more posts following this structure. This is also the second line.",
  },
};

const { id } = Astro.params;
const post = posts[id];
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{post.title} - My Blog</title>
</head>
<body>
    <main>
        <article>
            <h2>{post.title}</h2>
            <div class="date">{post.date}</div>
            <p>{post.content}</p>
        </article>
        <a href="/">Back to Home</a>
    </main>
</body>
</html>